
<li>
  <div class="card project-item">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/assets/<%= project.img %>">
    </div>
    <h4 class="card-title"><%= project.title %></h4>
  </div>
</li>
