<div class="navbar-fixed">
  <nav class="white darken-4">
    <div class="nav-wrapper">
      <a href="" class="brand-logo left grey-text text-darken-4">Wellington Vicioso</a>
    </div>
  </nav>
</div>

<ul class="right tabs">
  <li class="right tab col s3"><a class="grey-text text-darken-4" href="#test2">Projects</a></li>
  <li class="right tab col s3"><a class="grey-text text-darken-4 active"href="#test1">About Me</a></li>
</ul>

<div id="test1" class="center col s12">
  <div class="parallax-container">
    <div class="parallax"><img src="https://silvergapyear.files.wordpress.com/2010/12/dscf0557.jpg"></div>
  </div>

  <div class="my-intro">
    <h1 class="white-text" >Wellington Vicioso</h1>
  </div>

  <div class="about-me">
    <p class="grey-text text-darken-2 flow-text"> <span class="skill">Well-versed in:</span><br> Ruby, Rails, Javascript, Jquery, SQL, Rspec, HTML, CSS, Git, and Github.</p>
    <p class="grey-text text-darken-2 flow-text"><span class="skill">Experience with:</span><br> ReactJS, React-Native, Node, Recursive Algorithms, Test-Driven Development, and Object-Oriented Design.</p>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="http://www.newyorker.com/wp-content/uploads/2015/12/Veix-Goodbye-New-York-Color-1200.jpg"></div>
  </div>

  <div class="my-intro">
    <p class="white-text flow-text">Self-motivated, diligent <span class="blue-text text-lighten-3">Software Developer</span> with a desire to pursue a career in Web-Development.</p>
  </div>

  <div class="contact-info">
    <img src="/assets/me.jpg" alt="" class="circle responsive-img">
    <div class="details center">
      <h6 class=""><i class="small material-icons blue-text">call</i> <span class="grey-text text-darken-2 contact">310.367.2608</span></h6>
      <h6 class=""><i class="small material-icons blue-text">email</i> <span class="grey-text text-darken-2 contact">wellington.vicioso@gmail.com</span></h6>
      <a class="center" href="https://github.com/wvicioso"><i class="devicon-github-plain"></i></a>
      <a class="center" href="https://www.linkedin.com/in/wellington-vicioso-8343b3ba?trk=hp-identity-photo"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<div id="test2" class="col s12">
  <div class="right btns">
    <a class="btn grey darken-3 blue-text">filter</a>
    <div class="filter" style="">
      <a class="btn mobile blue-text" href=''>mobile</a>
      <a class="btn web blue-text" href=''>web</a>
   </div>
 </div>

  <ul id="slide-out" class="center white darken-2 side-nav fixed">
    <% @projects.each do |proj| %>
      <%= render 'side_nav_item', :project => proj %>
    <% end %>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse btn-c">
    <i class="material-icons">menu</i>
  </a>

  <div class="right project-body">
    <h1 class="grey-text text-darken-4 intro">Projects</h1>
  </div>
</div>
