<div class="parallax-container" style="height: 805px;">

<div class="navbar-fixed">
<nav class='black'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center flow-text white-text" style="font-family: Cinzel, serif;">WELLINGTON VICIOSO</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="grey-text" href="/projects">Projects</a></li>
      <li><a class="grey-text" href="/connect">Contact</a></li>
      <li><a class="grey-text" href="/about">About Me</a></li>
    </ul>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a class="grey-text" href="/about">About Me</a></li>
    </ul>
  </div>
</nav>
</div>

  <div class="valign-wrapper transparent">
    <h4 class="valign center-align white-text transparent" style="text-shadow: 2px 2px 4px #000000; width: 50vw; font-family: Cinzel, serif; margin: auto; margin-top: 20%;"><span class="blue-text" style="text-shadow: 2px 2px 4px white;">Full-Stack Web Developer<br></span> with experience in <span class="blue-text" style="text-shadow: 2px 2px 4px white;">Mobile Development</span> seeking new opportunities</h4>
  </div>
<div class="parallax"><img src="http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/11/Background-23.jpg"></div>
</div>
<div class="row black" style="height: 55vw; width: 100%;">
  <div class="valign-wrapper">
    <h3 class="white-text" style="margin: auto; font-weight: 100; margin-bottom: -10px; padding-top: 30px; border-bottom: 2px solid #2196f3;">Skills</h3>
  </div>
  <div style="margin-left: 7vw">

  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-rails-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Rails</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-react-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">React-Native</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon--plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Sinatra</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-ruby-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Ruby</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-javascript-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Javascript</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-nodejs-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Node.js</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon--plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Xcode</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-jquery-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Jquery</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-reactjs-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">ReactJS</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-html5-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">HTML</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-css3-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">CSS</h5>
      </div>
    </div>
  </div>

  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon--plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Materialize</h5>
      </div>
    </div>
  </div>

  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon--plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Bootstrap</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon--plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">OOR</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon--plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">OOJ</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-postgresql-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">PostgreSQL</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-sqlite3-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">SQLite3</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-realm-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Realm</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-git-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Git</h5>
      </div>
    </div>
  </div>
  <div class="" style="display: inline-block; height: 5vw; width: 17vw; margin-top: 3vw; margin-bottom: 3vw;">
    <div class="card white" style="border-left: 5px solid #2196f3; opacity: 1; height: 10vw;">
      <div class="card-content black-text" style="padding: 0px; margin: auto;">
        <i style="vertical-align: top; display: inline-block; color: white; background-color: #2196f3; padding-top: 3.5vw; padding-bottom: 1.02vw; padding-left: .3vw; padding-right: .3vw; height: 10vw; font-size: 3vw; text-align: center;" class="devicon-github-plain"></i>
        <h5 style="vertical-align: top; display: inline-block; margin: 0px; padding-top: 3.5vw; text-align: center; height: 10vw; width: 12vw" class="valign-center">Github</h5>
      </div>
    </div>
  </div>
</div>
</div>



<div class="valign-wrapper">
  <h3 class="white-text" style="margin: auto; font-weight: 100; padding-bottom: 15px; margin-bottom: 35px; padding-top: 15px; border-bottom: 2px solid #2196f3;">Projects</h3>
</div>



<div class="black">
  <div class="carousel" style="height: 50vw">
      <div class="card carousel-item" style="width: 50vw; height: 50vw;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
        </div>
        <div class="card-content" style="padding-top: 5vw; padding-left: 20vw">
          <span class="card-title activator grey-text text-darken-4" style=" font-size: 5vw; text-align: center; ">Dapr<i class="material-icons right"></i></span>
          <p><a href="#" style="font-size: 2vw">Launch</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Dapr<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

      <div class="card carousel-item" style="width: 50vw; height: 50vw;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
        </div>
        <div class="card-content" style="padding-top: 5vw; padding-left: 20vw">
          <span class="card-title activator grey-text text-darken-4" style=" font-size: 5vw; text-align: center; ">Chess<i class="material-icons right"></i></span>
          <p><a href="#" style="font-size: 2vw">Launch</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Chess<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
      <div class="card carousel-item" style="width: 50vw; height: 50vw;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
        </div>
        <div class="card-content" style="padding-top: 5vw; padding-left: 20vw">
          <span class="card-title activator grey-text text-darken-4" style=" font-size: 5vw; text-align: center; ">Temo<i class="material-icons right"></i></span>
          <p><a href="#" style="font-size: 2vw">Launch</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Temo<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
      <div class="card carousel-item" style="width: 50vw; height: 50vw;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
        </div>
        <div class="card-content" style="padding-top: 5vw; padding-left: 20vw">
          <span class="card-title activator grey-text text-darken-4" style=" font-size: 5vw; text-align: center; ">Twitter Clone<i class="material-icons right"></i></span>
          <p><a href="#" style="font-size: 2vw">Launch</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Twitter Clone<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
      <div class="card carousel-item" style="width: 50vw; height: 50vw;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
        </div>
        <div class="card-content" style="padding-top: 5vw; padding-left: 20vw">
          <span class="card-title activator grey-text text-darken-4" style=" font-size: 5vw; text-align: center; ">HackOVerflow<i class="material-icons right"></i></span>
          <p><a href="#" style="font-size: 2vw">Launch</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">HackOverflow<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
      <div class="card carousel-item" style="width: 50vw; height: 50vw;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
        </div>
        <div class="card-content" style="padding-top: 5vw; padding-left: 20vw">
          <span class="card-title activator grey-text text-darken-4" style=" font-size: 5vw; text-align: center; ">Plain Pizza<i class="material-icons right"></i></span>
          <p><a href="#" style="font-size: 2vw">Launch</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Plain Pizza<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

  </div>
</div>


<div class="black">
  <div style="width: 50%; margin: auto;">
      <blockquote style="border-left: 5px solid #82b1ff">
        <div class="grey-text lighten-3">
        "Individuals who believe their talents can be developed (through hard work, good strategies,
        and input from others) have a growth mindset. They tend to achieve more than those with a more
        fixed mindset (those who believe their talents are innate gifts).<span class="blue-text"> This is because they worry less
        about looking smart and they put more energy into learning.</span>"
        </div>
      </blockquote>
      <div style="text-align: left;" class="white-text">
        -Carol Dweck
      </div>
      <div style="text-align: left;">
        <a href="https://hbr.org/2016/01/what-having-a-growth-mindset-actually-means">Havard Business Review</a>
      </div>
  </div>
</div>


<footer class="page-footer light black">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text" style="text-align: center">About Me</h5>
         <img style="display: inline-block" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAATfAAAAJGY2YTczZjZlLTY4NzQtNDVkOS04NjNhLTgzZjQ0MTBkZjkwZg.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
         <div class="grey-text lighten-3" style="width: 200px; display: inline-block; vertical-align: top; padding-left: 1vw;">
           "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis, nulla ac tempus imperdiet,
           metus tortor pharetra purus, nec volutpat est sapien in dolor. Donec gravida, purus eu varius pellentesque,
           ex enim tincidunt turpis, ac suscipit velit lorem nec ante. Mauris varius at augue in tincidunt. Vestibulum
           maximus laoreet est."
         </div>
       </div>
       <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Social Media</h5>
         <ul>
           <li><a class="grey-text lighten-3" href="https://github.com/wvicioso">Github</a></li>
           <li><a class="grey-text lighten-3" href="https://www.linkedin.com/in/wellington-vicioso-8343b3ba?trk=hp-identity-photo">LinkedIn</a></li>
           <li><a class="grey-text lighten-3" href="https://www.instagram.com/wellingtonvicioso/">Instagram</a></li>
           <li><a class="grey-text lighten-3" href="https://twitter.com/Well_V22">Twitter</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container" style="opacity: .6">
     © 2016 Copyright
     </div>
     Under Construction
   </div>
 </footer>
