<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Wellington Vicioso</a>
    </div>
</nav>



  <ul class="tabs">
    <li class="right tab col s3"><a href="#test1">About Me</a></li>
    <li class="right tab col s3"><a class="active" href="#test2">Projects</a></li>
    <li class="right tab col s3"><a href="#test4">Contact</a></li>
  </ul>


  <div id="test1" class="col s12">Test 1</div>
  <div id="test2" class="col s12">
    <ul id="slide-out" class="center side-nav fixed">
      <li class="btn-wrap"><a class="btn" href="#!">mobile</a></li>
      <li class="btn-wrap"><a class="btn" href="#!">web</a></li>

      <li>
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/assets/hack.jpg">
          </div>
          <h4 class="card-title">HackOverflow</h4>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/assets/dapr-web.png">
          </div>
          <h4 class="card-title">Dapr Web</h4>
        </div>
      </li>
      <li>
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/assets/tic.png">
          </div>
          <h4 class="card-title">Tic Tac Toe</h4>
        </div>
      </li>

    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  <div id="test4" class="col s12">Test 4</div>
