<div class="navbar-fixed">
<nav class='black'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center flow-text">WELLINGTON VICIOSO</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/connect">Contact</a></li>
      <li><a href="/about">About Me</a></li>
    </ul>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/connect">Contact</a></li>
      <li><a href="/about">About Me</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="http://thetechnews.com/wp-content/uploads/2016/04/apple-macbook-pro-keyboard.jpg"></div>
</div>


<div class="valign-wrapper">
  <h4 class="valign center-align">Full-Stack Web Developer with experience in Mobile Development seeking new opportunities</h4>
</div>


<div class='center'>

  <div style="width: 25%; display: inline-block;">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Dapr</span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Dapr<i class="material-icons right">close</i></span>
        <p>Built with React-Native</p>
      </div>
    </div>
  </div>
  <div style="width: 25%; display: inline-block;">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Temo</span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Temo<i class="material-icons right">close</i></span>
        <p>Built with React-Native</p>
      </div>
    </div>
  </div>
  <div style="width: 25%; display: inline-block;">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">StackOverflow Clone</span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">StackOverflow Clone<i class="material-icons right">close</i></span>
        <p>Built with Rails, HTML5. Javascript, Jquery, Materialize</p>
      </div>
    </div>
  </div>
</div>

<div style="width: 50%; margin: auto;">
    <blockquote>
      <div>
      "Individuals who believe their talents can be developed (through hard work, good strategies,
      and input from others) have a growth mindset. They tend to achieve more than those with a more
      fixed mindset (those who believe their talents are innate gifts). This is because they worry less
      about looking smart and they put more energy into learning."
      </div>
    </blockquote>
    <div style="text-align: left;">
      -Carol Dweck
    </div>
    <div style="text-align: left;">
      <a href="https://hbr.org/2016/01/what-having-a-growth-mindset-actually-means">Havard Business Review</a>
    </div>
</div>
