
<div class="about-me">
  <h4 class="white-text">Wellington Vicioso</h4>
  <h5 class="blue-text text-darken-4">Full-Stack Web/Mobile Developer</h5>

  <img src="/assets/me.jpg" alt="" class="circle responsive-img">
  <div class="social-media">
    <h6 class="blue-text text-darken-4">phone: <span class="white-text">310.367.2608</span></h6>
    <h6 class="blue-text text-darken-4">email: <span class="white-text">wellington.vicioso@gmail.com</span></h6>
    <a class="blue-text text-darken-4 social-media" href="https://github.com/wvicioso">Github</a>
    <a class="blue-text text-darken-4 social-media" href="https://www.linkedin.com/in/wellington-vicioso-8343b3ba?trk=hp-identity-photo">LinkedIn</a>
  </div>
  <div class="skills">
    <% tskills = ["Rails", "Ruby", "Javascript", "HTML", "CSS", "Jquery", "ReactJs", "React-Native", "Node.js", "Xcode", "PostgreSQL", "SQLite3", "Test-Driven Development", "Git", "Github", "Object-Oriented Design" ] %>

    <%  icons = ["devicon-rails-plain", "devicon-ruby-plain", "devicon-javascript-plain", "devicon-html5-plain", "devicon-css3-plain", "devicon-jquery-plain", "devicon-reactjs-plain", "devicon-react-plain", "devicon-nodejs-plain", "devicon-xcode-plain", "devicon-postgresql-plain", "devicon-sqlite3-plain", "devicon--plain", "devicon-git-plain", "devicon-github-plain", "web"] %>

    <% tskills.each_with_index do |skill, i|%>
    <div class="skill-wrapper">
      <div class="logo">
        <i class="<%= icons[i] %>"></i>
      </div>
      <div class="skill-text">
        <h6> <%= skill %> </h6>
      </div>
    </div>
    <% end %>
  </div>
</div>


<div class="projects right">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">

        <ul class="right">
          <li><a class="nav-web" href="">Web Apps</a></li>
          <li><a class="nav-mobile" href="">Mobile Apps</a></li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="center web-apps">
    <h5 class="web section-title white-text">Web Apps</h5>
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/assets/hack.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">HackOverflow<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Launch Demo</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">HackOverflow<i class="material-icons right">close</i></span>
        <p>
          HackOverflow is a StackOverflow clone built on Sinatra using Ruby, Javascript, Jquery, HTML, CSS, PostgreSQL, and Materialize.
        </p>
        <p>
          contributors: Wellington Vicioso, Roman Letvskyy, Matt Edwards
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/assets/dapr-web.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Dapr Web<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Launch Demo</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Dapr Web<i class="material-icons right">close</i></span>
        <p>
          Dapr Web is the Web-App version of the mobile clothing suggestion weather app I developed. Built on Rails.
        </p>
        <p>
          Designed and developed by: Wellington Vicioso
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/assets/tic.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Tic-Tac-Toe<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Launch Demo</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Tic-Tac-Toe<i class="material-icons right">close</i></span>
        <p>
          Platform that allows you to play tic-tac-toe and track your games(time spent playing, winnings, losings, resume unfinished games) granted you created an account.
        </p>
        <p>
          Contributors: Wellington Vicioso, Tyler Sharp, Roman Letvskyy
        </p>
      </div>
    </div>
  </div>

  <div class="center mobile-apps">
    <h5 class="mobile section-title white-text">Mobile Apps</h5>
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/dapr-mobile.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Dapr<i class="material-icons right">more_vert</i></span>
        <p><a href="#">Github Repo</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Dapr<i class="material-icons right">close</i></span>
        <p>
          Dapr is a clothing suggestion weather app designed to enhance a user's sense of style while still dressing appropriately for the weather.<br><br>
          Built in React-Native, DAPR uses 'The Weather Channel' API to offer users the most accurate weather information throughout their day.
        </p>
        <p>
          Designed and developed by: Wellington Vicioso
        </p>
      </div>
    </div>
  </div>
</div>
