<div class="parallax-container" style="height: 805px;">

<div class="navbar-fixed">
<nav class='black'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center flow-text white-text">WELLINGTON VICIOSO</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="grey-text" href="/projects">Projects</a></li>
      <li><a class="grey-text" href="/connect">Contact</a></li>
      <li><a class="grey-text" href="/about">About Me</a></li>
    </ul>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a class="grey-text" href="/about">About Me</a></li>
    </ul>
  </div>
</nav>
</div>

  <div class="valign-wrapper transparent">
    <h4 class="valign center-align white-text transparent" style="font-weight: 100; margin-top: 20%;">Full-Stack Web Developer with experience in Mobile Development seeking new opportunities</h4>
  </div>




<div class="valign-wrapper">
  <h3 class="white-text" style="margin: auto; font-weight: 100; margin-top: 25%;">Skills</h3>
</div>

<div class="parallax"><img src="http://www.1wallpaperhd.com/wp-content/uploads/Wood/FTP1/1920x1080/Dark%20wood%2001%20Wallpapers%20HD%201920x1080.jpg"></div>
</div>

<div class="parallax-container" style="height: 800px;">
<div class="row transparent">
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Rails</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">React-Native</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Sinatra</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Ruby</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Javascript</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Node.js</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Xcode</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">JQUERY</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">ReactJS</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">HTML</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">CSS</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Materialize</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Bootstrap</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">OOR</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">OOJ</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">PostgreSQL</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">SQLite3</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Realm</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Git</h3>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card white" style="opacity: 0.2;">
      <div class="card-content black-text">
        <h3 class="valign center-align">Github</h3>
      </div>
    </div>
  </div>
</div>
<div class="parallax"><img src="http://www.1wallpaperhd.com/wp-content/uploads/Wood/FTP1/1920x1080/Dark%20wood%2001%20Wallpapers%20HD%201920x1080.jpg"></div>
</div>

<div class="parallax-container" style="height: 800px;">
<div class="valign-wrapper">
  <h3 class="white-text" style="margin: auto; font-weight: 100; padding-bottom: 15px; padding-top: 15px;">Projects</h3>
</div>

<div class='center'>
  <div style="margin-right: 2%; margin-left: 2%; width: 25%; display: inline-block;">
    <div class="card transparent" >
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
      </div>
      <div class="card-content white" style="opacity: .4">
        <span class="card-title activator grey-text text-darken-4">Dapr</span>
        <p><a href="#">Launch</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Dapr<i class="material-icons right">close</i></span>
        <p>Built with React-Native</p>
      </div>
    </div>
  </div>
  <div style="margin-right: 2%; margin-left: 2%; width: 25%; display: inline-block;">
    <div class="card transparent" >
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
      </div>
      <div class="card-content white" style="opacity: .4">
        <span class="card-title activator grey-text text-darken-4">Chess</span>
        <p><a href="#">Launch</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Chess<i class="material-icons right">close</i></span>
        <p>Built with React-Native</p>
      </div>
    </div>
  </div>
  <div style="margin-right: 2%; margin-left: 2%; width: 25%; display: inline-block;">
    <div class="card transparent" >
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
      </div>
      <div class="card-content white" style="opacity: .4">
        <span class="card-title activator grey-text text-darken-4">Temo</span>
        <p><a href="#">Launch</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Temo<i class="material-icons right">close</i></span>
        <p>Built with React-Native</p>
      </div>
    </div>
  </div>
  <div style="margin-right: 2%; margin-left: 2%; width: 25%; display: inline-block;">
    <div class="card transparent" >
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
      </div>
      <div class="card-content white" style="opacity: .4">
        <span class="card-title activator grey-text text-darken-4">Twitter Clone</span>
        <p><a href="#">Launch</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Twitter Clone<i class="material-icons right">close</i></span>
        <p>Built with React-Native</p>
      </div>
    </div>
  </div>
  <div style="margin-right: 2%; margin-left: 2%; width: 25%; display: inline-block;">
    <div class="card transparent" >
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
      </div>
      <div class="card-content white" style="opacity: .4">
        <span class="card-title activator grey-text text-darken-4">HackOverflow</span>
        <p><a href="#">Launch</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">HackOverflow<i class="material-icons right">close</i></span>
        <p>Built with React-Native</p>
      </div>
    </div>
  </div>
  <div style="margin-right: 2%; margin-left: 2%; width: 25%; display: inline-block;">
    <div class="card transparent" >
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="http://cdn.pcwallart.com/images/mac-laptop-keyboard-wallpaper-4.jpg">
      </div>
      <div class="card-content white" style="opacity: .4">
        <span class="card-title activator grey-text text-darken-4">Plain Pizza</span>
        <p><a href="#">Launch</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Plain Pizza<i class="material-icons right">close</i></span>
        <p>Built with Rails, HTML5. Javascript, Jquery, Materialize</p>
      </div>
    </div>
  </div>
</div>


<div class="parallax"><img src="http://www.1wallpaperhd.com/wp-content/uploads/Wood/FTP1/1920x1080/Dark%20wood%2001%20Wallpapers%20HD%201920x1080.jpg"></div>
</div>



<div style="width: 50%; margin: auto;">
    <blockquote>
      <div class="grey-text lighten-3">
      "Individuals who believe their talents can be developed (through hard work, good strategies,
      and input from others) have a growth mindset. They tend to achieve more than those with a more
      fixed mindset (those who believe their talents are innate gifts). This is because they worry less
      about looking smart and they put more energy into learning."
      </div>
    </blockquote>
    <div style="text-align: left;" class="white-text">
      -Carol Dweck
    </div>
    <div style="text-align: left;">
      <a href="https://hbr.org/2016/01/what-having-a-growth-mindset-actually-means">Havard Business Review</a>
    </div>
</div>

<footer class="page-footer black">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text" style="text-align: center">About Me</h5>
         <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAATfAAAAJGY2YTczZjZlLTY4NzQtNDVkOS04NjNhLTgzZjQ0MTBkZjkwZg.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
         <div class="grey-text lighten-3" style="width: 200px; display: inline-block; vertical-align: top;">
         "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis, nulla ac tempus imperdiet,
         metus tortor pharetra purus, nec volutpat est sapien in dolor. Donec gravida, purus eu varius pellentesque,
         ex enim tincidunt turpis, ac suscipit velit lorem nec ante. Mauris varius at augue in tincidunt. Vestibulum
         maximus laoreet est."
         </div>
       </div>



       <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Social Media</h5>
         <ul>
           <li><a class="grey-text lighten-3" href="https://github.com/wvicioso">Github</a></li>
           <li><a class="grey-text lighten-3" href="https://www.linkedin.com/in/wellington-vicioso-8343b3ba?trk=hp-identity-photo">LinkedIn</a></li>
           <li><a class="grey-text lighten-3" href="https://www.instagram.com/wellingtonvicioso/">Instagram</a></li>
           <li><a class="grey-text lighten-3" href="https://twitter.com/Well_V22">Twitter</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container" style="opacity: .6">
     © 2016 Copyright
     </div>
   </div>
 </footer>
