<h1><%= project.title %></h1>
<div class="card">
  <div class="card-image body-img">
    <img src="assets/<%= project.img %>">
  </div>
  <div class="card-action">
    <a href="<%=project.link%>">VISIT PROJECT</a>
  </div>
</div>
<div class="card-content">
  <p class="grey-text text-darken-2 flow-text"><%= project.body %></p>
</div>
