/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  /*border: 1px solid;*/
}

.construction {
  position: fixed;
  width: 100%;
  top: 20px;
  margin-left: 80px;
  font-size: 12px;
  z-index: 1000000;
}

.brand-logo {
  left: 20px;

}

body {
  background-color: white;
}

.intro {
  color: white;
  margin-left: 300px;
  margin-top: 200px;
}


h4 {
  margin-top: 5px;
}

.contact-info, .about-me {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  width: 400px;
}

.contact-info {
  margin-top: 40px;
  height: 480px;
  margin-right: 50px;
  margin-left: 30px;
  width: 330px;
}

.contact-info img {
  height: 300px;
  width: 300px;
}

.my-intro {
  position: relative;
  top: -300px;
}

.my-intro p {
  text-shadow: 2px 2px 5px black;
}

.my-intro h1 {
  text-shadow: 2px 2px 10px black;
  font-weight: 200;
  margin-top: 0;
}

.contact {
  vertical-align: top;
  font-size: 20px;
  line-height: 30px;

}

.about-me {
  padding-left: 20px;
  margin-top: 40px;
  height: 480px;
}

.about-me p {
  text-align: left;
  margin-bottom: 55px;
  font-size: 20px;
}

.details {
  width: 330px;
  margin: 0 auto;
}

.details h6 {
  text-align: left;

}

.details h6 i {
  font-size: 25px;
  margin-left: 14px;
}

.details a {
  vertical-align: top;
  color: #616161;
  margin-right: 10px;
  margin-left: 10px;

  font-size: 30px;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.details a:hover {
  color: white;
}

.skill {
  margin-bottom: 10px;
  border-bottom: 1px solid #2196f3;

}

.project-body {
  position: static;
  width: 70%;
  margin-top: 2%;
}

.project-body .card-content {
  display: inline-block;
  vertical-align: top;
  padding: 0;

}

.project-body .card-content p {
  position: fixed;
  margin: 0;
  margin-left: 20px;
  width: 200px;
  font-size: 15px;
}

.project-body .card {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  width: 70%;
}

#test1 {
}

#test2 {
  /*background: url("https://silvergapyear.files.wordpress.com/2010/12/dscf0557.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;*/
}


img {
  width: 100%;
}

h1 {
  color: #616161;
}

.side-nav {
  margin-top: 72px;
  padding-bottom: 15%;
  padding-top: 50px;
  width: 300px;
}

 .side-nav .card {
  margin-left: 27px;
  width: 80%;
  height: 200px;

}

.side-nav .card:hover {
  opacity: .7;
}

 .side-nav .card-image {
  height: 80%;
  width: 100%;
}

 .side-nav .card-title {
  margin-top: 0px;
  padding: 3%;
  height: 19%;
}


 .side-nav .card-content h4 {

}

 .side-nav .card-image img {
  height: 90%;
}

.btns {
  background: none;
  left: 152px;
  top: 72px;
  width: 27vw;
  position: fixed;
  z-index: 50000;
}

.btn {
}

.btn, .filter {
  display: inline-block;
  vertical-align: top;
  width: 148px;
  background-color: #646464;
  border-bottom-left-radius: 25px;
  box-shadow: none;
  position: fixed;

  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.filter {
  border-bottom-left-radius: 25px;
  height: 10px;
  opacity: .001;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}

.mobile {
  border-bottom-left-radius: 0px;

}

.web {
  box-shadow: none;
  background: #424242;
}

.tabs {
  width: 100%;
  height: 41px;
  align-self: right;
  position: fixed;
  margin-bottom: 0;
  top: 25px;
  z-index: 2000;
  background: rgba(256, 256, 256, 0.0001);
}

.tab a {
  font-size: 20px;
}

.tabs .indicator {
    background-color: #2196f3;
}

.circle {
  border-radius: 18px;
  margin: 1%;
}

nav {
  margin-bottom: 0;
}


@media screen and (max-width: 992px) {
    .btns {
        opacity: .001;
    }
    .project-body {
      position: absolute;
      margin-left: 100px;
    }
    .nav-wrapper a {
      font-size: 20px;
    }
}

@media screen and (min-width: 992px) {
    .button-collapse {
        opacity: .001;
    }
}
