.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.stars {
  /* animation: App-stars infinite 20s linear; */
}

.main-text {
  font-family: 'Palanquin', sans-serif;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #212121;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  /* background-color: rgba(0,0,0,0); */
}

.main-text h1 {
  font-size: 55px;
  padding: 0px;
  margin: 0px;
}

.main-text h2 {
  font-size: 21px;
  padding: 0px;
  margin: 0px;
  color: #212121;
}

.main-text p {
  color: #00bcd4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-stars {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
