<!DOCTYPE html>
<html>
  <head>
    <title>Wellington</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="assets/javascripts/jquery.min.js"></script>
    <script src="assets/javascripts/jquery.scrolly.min.js"></script>
    <script src="assets/javascripts/jquery.poptrox.min.js"></script>
    <script src="assets/javascripts/skel.min.js"></script>
    <script src="assets/javascripts/util.js"></script>
    <script src="assets/javascripts/main.js"></script>
  </head>

  <body id="top">
    <%= yield %>
  </body>
</html>
