<!DOCTYPE html>
<html>
  <head>
    <title>Wellington</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
     $(document).ready(function () {
       $('.slider').slider({full_width: true, indicators: false});
     });
    $(document).ready(function(){
      $('.parallax').parallax();
    });
    $(document).ready(function(){
      $('.carousel').carousel();
    });
    // $(document).ready(function(){
    //   $('.carousel.carousel-slider').carousel({full_width: true});
    // });
    </script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <style>

</style>
  </head>

  <body class="black">
    <%= yield %>
  </body>
</html>
